    /* display mempelai */
    .mempelai div h2{
        font-family: 'Comic Sans MS';
        letter-spacing: -2px;
        font-size: 30px;
        text-transform: unset;
        color: #95268c73;
    }
    .mempelai div h1{
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black; */
        text-shadow:
                3px 3px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        font-family: 'Brush Script MT';
        letter-spacing: -2px;
        text-align: center;
        font-size: 55px;
        line-height: 20%;
        padding-bottom: 50px;
        color: #4dcdc7;
    }
    .mempelai div h3{
        font-family: 'Brush Script MT';
        letter-spacing: -2px;
        text-align: center;
        font-size: 35px;
        color: #4dcdc7;
        /* line-height: 20%; */
    }
    @media screen and (max-width: 600px) {
        .mempelai div h1{
        font-family: 'Brush Script MT';
        letter-spacing: -2px;
        text-align: center;
        font-size: 50px;
        line-height: 20%;
        padding-bottom: 50px;
        }
    }
